@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');



@font-face {
	font-family: 'RhetorikSansRegular';
	src: url('/fonts/RhetorikSans/RhetorikSans-Regular.woff2') format('woff2');
}

:root {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #484848
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

h2 {
	font-size: 1em;
	font-family: 'RhetorikSansRegular', sans-serif;
}

/*------------------------------------------------------*/

.container {
	max-width: 50rem;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
}

canvas {
	background: #FFF;
}


/*------------------------------------------------------*/

h1 {
	font-size: 3em;
	text-align: center;
}

h1 .emph {
	font-weight: 700;
}

#getintouch {
	font-size: 1.5em;
	/*background: #F5D125;*/
	/*background: #3354FF;*/
	background: #ED6442;
	color: #FFF;
	border: none;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	outline: inherit;
	font-weight: 700;
	border-radius: 2rem;
}

.container.heading {
	max-width: 55rem;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.container.heading .emph {
	color: #9F7FF0;
}

@media(max-width: 40rem) {
	h1 {
		text-align: left;
		font-size: 2.5em;
	}

	.container.heading {
		align-items: flex-start;
	}
}

#canvasContainer > canvas {
	border-radius: 1rem;
}

#canvasContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*------------------------------------------------------*/

#about,
#services,
#howitworks,
#contacts {
	width: 100%;
	margin-top: 5rem;
}

#about p,
#howitworks p,
#startDialog span {
	font-size: 2rem;
}

#serviceContainer,
#contactContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#serviceContainer .serviceItem {
	margin-top: 2rem;
	margin-right: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.serviceItem img {
	max-height: 7rem;
}

#serviceContainer .serviceItem:last-child {
	margin-right: 0;
}

@media (max-width: 40rem) {
	#serviceContainer {
		flex-direction: column;
	}

	#serviceContainer .serviceItem {
		margin-right: 0;
		margin-bottom: 2rem;
		max-width: 17rem;
		margin-right: auto;
		margin-left: auto;
	}

	#serviceContainer .serviceItem:last-child {
		margin-right: auto;
	}
}

#contactContainer .contactItem {
	margin-right: 2rem;
}

#contactContainer .contactItem:last-child {
	margin-right: 0;
}

@media (max-width: 40rem) {
	#contactContainer {
		flex-direction: column;
	}

	#contactContainer .contactItem {
		margin-right: 0;
		margin-bottom: 2rem;
		max-width: 20rem;
	}
}

.contactItem > span {
	display: block;
}

.contactItem .emph {
	color: #9F7FF0;
	font-weight: 700;
}

#howitworks img {
	margin-top: 2rem;
	max-width: 100%;
}

@media (max-width: 40rem) {
	#howitworks {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#howitworks h2 {
		width: 100%;
	}

	#howitworks img {
		content: url('/assets/process-vertical.svg');
		max-width: 15rem;
		width: 100%;
	}
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0em;
	width: 100%;
}

#about a {
	color: #ED6442;
}

#serviceContainer h3 {
	color: #EDB937;
}

a, h3 {
	color: #008800;
	text-decoration: none;
	font-weight: 700;
}

#contactContainer a {
	color: #ED6442;
}

#contactContainer .address {
	margin-top: 1rem;
}



/*------------------------------------------------------*/

#partners {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 4rem;
}

#partners img {
	max-width: 10rem;
}